* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(26, 26, 26);
    list-style: none;
}

body {
    height: 100%;
}

#section-2 {
    display: flex;
}

nav {
    background-color: aquamarine;
    width: 15%;
    height: 85%;
    text-align: center;
    position: fixed;
}

nav ul {
    max-height: 100%;
}

nav ul li {
    background-color: rgba(0, 0, 0, 0.181);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 15px;
    transition: 0.2s;
    padding: 10px 0;
    width: 90%;
}


nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.09);
    cursor: pointer;
    transform: scale(1.05);
}

main {
    background-color: beige;
    width: 100%;
    min-height: 85vh;
    padding: 50px 75px;
    padding-left: 45vh;
}

header {
    position: fixed;
    background-color: gray;
    text-align: center;
    display: flex;
    height: 15%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

#header-container {
    height: 15%;
}

.manji-input {
    margin: 20px 0 ;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.box {
    width: 25%;
    display: inline-block;
}

.veci-button {
    padding: 10px;
    border-radius: 10px;
    transition: 0.05s;
}

.veci-button:hover {
    cursor: pointer;
    background-color: rgb(216, 216, 216);
}

#lista {
    background-color: blueviolet;
    width: 50vw;
    margin-top: 50px;
}

.x-button {
    width: 25px;
    height: 25px;
    border-radius: 7px;
}
.input-cont{
    background-color: gray;
    margin-bottom: 50px;
}
.karakteristika {
    background-color: red;
    padding: 7px;
    border-radius: 7px;
    margin-right: 5px;
}
.nastamba-cont{
    background-color: white;
    padding: 20px 50px;
    margin-top: 20px;
    display: flex;
}
#nastamba-delete-btn{
    height: 50px;
}
