# Default ignored files
/../../RMAPP 5.11./.idea/shelf/
/../../RMAPP 5.11./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../RMAPP 5.11./.idea/httpRequests/
# Datasource local storage ignored files
/../../RMAPP 5.11./.idea/dataSources/
/../../RMAPP 5.11./.idea/dataSources.local.xml
