* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(26, 26, 26);
}

body {
    height: 100%;
}

#section-2 {
    height: 85%;
    display: flex;
}

nav {
    background-color: aquamarine;
    width: 15%;
    text-align: center;
}

nav ul {
    max-height: 100%;
}

nav ul li {
    background-color: rgba(0, 0, 0, 0.181);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 15px;
    transition: 0.2s;
    padding: 10px 0;
    width: 90%;
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.09);
    cursor: pointer;
    transform: scale(1.05);
}

main {
    background-color: beige;
    width: 85%;
    padding: 50px 75px;
}

header {
    background-color: gray;
    text-align: center;
    display: flex;
    height: 15%;
    flex-direction: column;
    justify-content: center;
}

main form input {
    margin-bottom: 50px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.box {
    width: 25%;
    display: inline-block;
}

main button {
    padding: 10px;
    border-radius: 10px;
    transition: 0.1s;
}

main button:hover {
    cursor: pointer;
    background-color: rgb(216, 216, 216);
}