# === Maven / Build ===
target/
.mvn/wrapper/maven-wrapper.jar

# === IDE ===
## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

## Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

## VS Code
.vscode/

# === Spring Boot config ===
# NIKAD U GIT: lokalne postavke sa lozinkama!
src/main/resources/application-local.properties

# Default config – može u Git, ali bez osjetljivih podataka
src/main/resources/application.properties

# === Ostalo ===
HELP.md